/* line 6, ../sass/_meyer-reset.scss */
*:focus {
  outline-width: 0px;
}

/* line 10, ../sass/_meyer-reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../sass/_meyer-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, ../sass/_meyer-reset.scss */
body {
  line-height: 1;
}

/* line 26, ../sass/_meyer-reset.scss */
ol, ul {
  list-style: none;
}

/* line 29, ../sass/_meyer-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 33, ../sass/_meyer-reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 39, ../sass/_meyer-reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 44, ../sass/_meyer-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../sass/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

@-webkit-keyframes bgcolor {
  0% {
    background-color: #ffccf2;
  }
  50% {
    background-color: #ccffcc;
  }
  100% {
    background-color: #ccffff;
  }
}
@-moz-keyframes bgcolor {
  0% {
    background-color: #ffccf2;
  }
  50% {
    background-color: #ccffcc;
  }
  100% {
    background-color: #ccffff;
  }
}
@-ms-keyframes bgcolor {
  0% {
    background-color: #ffccf2;
  }
  50% {
    background-color: #ccffcc;
  }
  100% {
    background-color: #ccffff;
  }
}
@keyframes bgcolor {
  0% {
    background-color: #ffccf2;
  }
  50% {
    background-color: #ccffcc;
  }
  100% {
    background-color: #ccffff;
  }
}
/*----------- GENERAL STYLE ----------- */
/* line 21, ../sass/_master.sass */
body {
  font-family: "kepler std", serif;
  color: #383838;
  padding: 15px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0.2s;
  -moz-transition: opacity 0.5s ease 0.2s;
  transition: opacity 0.5s ease 0.2s;
}
/* line 28, ../sass/_master.sass */
body .generalContainer {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0.8s;
  -moz-transition: opacity 0.5s ease 0.8s;
  transition: opacity 0.5s ease 0.8s;
}
/* line 32, ../sass/_master.sass */
body.loaded {
  opacity: 1;
}
/* line 34, ../sass/_master.sass */
body.loaded .generalContainer {
  opacity: 1;
}
/* line 37, ../sass/_master.sass */
body a {
  color: #F24E41;
  text-decoration: none;
}

/*----------- BORDER FIXED SECTION ----------- */
/* line 43, ../sass/_master.sass */
.borderGeneric, .borderGenericOrizzontal, .borderNorth, .borderSouth, .borderGenericVertical, .borderEast, .borderWest {
  position: fixed;
  background-color: #F24E41;
  z-index: 12;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/* line 49, ../sass/_master.sass */
.borderGenericOrizzontal, .borderNorth, .borderSouth {
  height: 15px;
  left: 0;
  right: 0;
}
@media screen and (max-width: 769px) {
  /* line 49, ../sass/_master.sass */
  .borderGenericOrizzontal, .borderNorth, .borderSouth {
    height: 10px;
  }
}

/* line 57, ../sass/_master.sass */
.borderGenericVertical, .borderEast, .borderWest {
  width: 15px;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 769px) {
  /* line 57, ../sass/_master.sass */
  .borderGenericVertical, .borderEast, .borderWest {
    width: 10px;
  }
}

/* line 65, ../sass/_master.sass */
.borderNorth {
  top: 0;
}

/* line 69, ../sass/_master.sass */
.borderSouth {
  bottom: 0;
}

/* line 73, ../sass/_master.sass */
.borderEast {
  right: 0;
}

/* line 77, ../sass/_master.sass */
.borderWest {
  left: 0;
}

/*----------- END BORDER FIXED SECTION ----------- */
/*----------- MENU ICON ----------- */
/* line 85, ../sass/_master.sass */
.menuRow {
  margin-top: 50px;
  z-index: 999999;
  position: relative;
}
@media screen and (max-width: 769px) {
  /* line 85, ../sass/_master.sass */
  .menuRow {
    margin-top: 15px;
  }
}
/* line 92, ../sass/_master.sass */
.menuRow .menu {
  cursor: pointer;
  z-index: 9;
  position: relative;
  float: right;
  margin-right: 45px;
}
@media screen and (max-width: 769px) {
  /* line 92, ../sass/_master.sass */
  .menuRow .menu {
    margin-right: 25px;
  }
}
/* line 101, ../sass/_master.sass */
.menuRow .menu .menuContent {
  height: 26px;
  width: 41px;
  position: relative;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -o-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  transition: transform 0.2s ease;
}
/* line 108, ../sass/_master.sass */
.menuRow .menu .menuContent .menuItem {
  display: block;
  border: 1px solid #F24E41;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 3px;
  margin: auto;
  background: #F24E41;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}
/* line 120, ../sass/_master.sass */
.menuRow .menu .menuContent:after {
  content: " ";
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #F24E41;
  background: #F24E41;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease, -webkit-transform 0.2s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease, -moz-transform 0.2s ease;
  transition: background-color 0.5s ease, border-color 0.5s ease, transform 0.2s ease;
}
/* line 131, ../sass/_master.sass */
.menuRow .menu .menuContent:before {
  content: " ";
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #F24E41;
  background: #F24E41;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease, -webkit-transform 0.2s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease, -moz-transform 0.2s ease;
  transition: background-color 0.5s ease, border-color 0.5s ease, transform 0.2s ease;
}
/* line 142, ../sass/_master.sass */
.menuRow .menu .menuContent:hover:after {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
/* line 145, ../sass/_master.sass */
.menuRow .menu .menuContent:hover:before {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
/* line 149, ../sass/_master.sass */
.menuRow .menu.opened .menuContent {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 152, ../sass/_master.sass */
.menuRow .menu.opened .menuContent:before, .menuRow .menu.opened .menuContent:after, .menuRow .menu.opened .menuContent .menuItem {
  background-color: #fff;
  border-color: #fff;
}
/* line 156, ../sass/_master.sass */
.menuRow .logoContainer {
  float: left;
  margin: 0 0 0 45px;
}
@media screen and (max-width: 769px) {
  /* line 156, ../sass/_master.sass */
  .menuRow .logoContainer {
    margin-left: 25px;
  }
}
/* line 162, ../sass/_master.sass */
.menuRow .logoContainer .logo {
  width: 55px;
  min-width: 40px;
  z-index: 9;
  position: relative;
  display: inline-block;
}
/* line 169, ../sass/_master.sass */
.menuRow .logoContainer .logo svg {
  fill: #F24E41;
  -webkit-transition: fill 0.7s ease;
  -moz-transition: fill 0.7s ease;
  transition: fill 0.7s ease;
}
/* line 173, ../sass/_master.sass */
.menuRow .languageBar {
  float: right;
  margin-right: 45px;
  line-height: 26px;
  width: 100px;
  height: 30px;
  overflow: hidden;
  text-align: right;
}
/* line 186, ../sass/_master.sass */
.menuRow .languageBar:hover .languageEntry:not(.active) {
  max-width: 40px;
  opacity: 1;
}
/* line 190, ../sass/_master.sass */
.menuRow .languageBar .languageEntry {
  text-transform: uppercase;
  color: #F24E41;
  font-family: "effra", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  margin-left: 10px;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
/* line 203, ../sass/_master.sass */
.menuRow .languageBar .languageEntry:not(.active) {
  max-width: 0;
  opacity: 0;
  -webkit-transition: max-width 0.5s ease, opacity 0.5s ease;
  -moz-transition: max-width 0.5s ease, opacity 0.5s ease;
  transition: max-width 0.5s ease, opacity 0.5s ease;
}

/* line 209, ../sass/_master.sass */
.footer {
  position: absolute;
  bottom: 60px;
  left: 65px;
  font-family: "effra", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}

/*----------- MENU BODY ----------- */
/* line 216, ../sass/_master.sass */
.overlayMenu {
  background-color: #F24E41;
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease, visibility 0s ease 0.5s;
  -moz-transition: opacity 0.5s ease, visibility 0s ease 0.5s;
  transition: opacity 0.5s ease, visibility 0s ease 0.5s;
}
/* line 227, ../sass/_master.sass */
.overlayMenu .overlayMenuContainer {
  height: 100%;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}
/* line 234, ../sass/_master.sass */
.overlayMenu .overlayMenuContainer .menuContent {
  width: 100%;
  margin: auto;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 239, ../sass/_master.sass */
.overlayMenu .overlayMenuContainer .menuContent .menuEntry {
  text-align: right;
  text-transform: uppercase;
  margin: 42px 0;
  cursor: pointer;
  overflow: hidden;
  padding-right: 60px;
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  -o-transform: translateX(400px);
  transform: translateX(400px);
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  transition: transform 0.4s ease;
}
@media screen and (max-width: 769px) {
  /* line 239, ../sass/_master.sass */
  .overlayMenu .overlayMenuContainer .menuContent .menuEntry {
    margin: 30px 0;
  }
}
/* line 251, ../sass/_master.sass */
.overlayMenu .overlayMenuContainer .menuContent .menuEntry a {
  color: #fff;
  font-family: "effra", sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 6px;
  opacity: 0.3;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  max-width: 900px;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
@media screen and (max-width: 769px) {
  /* line 251, ../sass/_master.sass */
  .overlayMenu .overlayMenuContainer .menuContent .menuEntry a {
    font-family: "effra", sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 5px;
  }
}
/* line 263, ../sass/_master.sass */
.overlayMenu .overlayMenuContainer .menuContent .menuEntry a:after {
  content: " ";
  height: 1px;
  width: 100%;
  display: block;
  background-color: #fff;
  margin-top: 18px;
  margin-left: 105%;
  -webkit-transition: margin-left 0.4s ease;
  -moz-transition: margin-left 0.4s ease;
  transition: margin-left 0.4s ease;
}
@media screen and (max-width: 992px) {
  /* line 263, ../sass/_master.sass */
  .overlayMenu .overlayMenuContainer .menuContent .menuEntry a:after {
    display: none;
  }
}
/* line 275, ../sass/_master.sass */
.overlayMenu .overlayMenuContainer .menuContent .menuEntry a .description {
  font-size: 20px;
  float: left;
  font-family: "kepler std", serif;
  text-transform: none;
  font-weight: normal;
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  vertical-align: bottom;
  margin-top: 10px;
  letter-spacing: 0;
  -webkit-transition: -webkit-transform 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
  -moz-transition: -moz-transform 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
  transition: transform 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
}
@media screen and (max-width: 992px) {
  /* line 275, ../sass/_master.sass */
  .overlayMenu .overlayMenuContainer .menuContent .menuEntry a .description {
    display: none;
  }
}
/* line 290, ../sass/_master.sass */
.overlayMenu .overlayMenuContainer .menuContent .menuEntry a:hover {
  opacity: 1;
}
/* line 293, ../sass/_master.sass */
.overlayMenu .overlayMenuContainer .menuContent .menuEntry a:hover:after {
  margin-left: 0;
}
/* line 296, ../sass/_master.sass */
.overlayMenu .overlayMenuContainer .menuContent .menuEntry a:hover .description {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
/* line 300, ../sass/_master.sass */
.overlayMenu .socialBar {
  position: absolute;
  bottom: 96px;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.overlayMenu .socialBar::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width: 769px) {
  /* line 300, ../sass/_master.sass */
  .overlayMenu .socialBar {
    bottom: 55px;
  }
}
/* line 310, ../sass/_master.sass */
.overlayMenu .socialBar .socialEntry {
  font-family: "effra", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 19px;
  float: left;
  display: block;
  margin-right: 1.2295081967%;
  width: 14.3442622951%;
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
.overlayMenu .socialBar .socialEntry:last-child {
  margin-right: 0;
}
/* line 318, ../sass/_master.sass */
.overlayMenu .socialBar .socialEntry:first-child {
  margin-left: 11.6803278689%;
}
@media screen and (max-width: 769px) {
  /* line 318, ../sass/_master.sass */
  .overlayMenu .socialBar .socialEntry:first-child {
    margin-left: 7.7868852459%;
  }
}
/* line 323, ../sass/_master.sass */
.overlayMenu .socialBar .socialEntry .socialEntryLink {
  color: #fff;
  position: relative;
  display: inline-block;
}
/* line 328, ../sass/_master.sass */
.overlayMenu .socialBar .socialEntry .socialEntryLink .socialDesktop {
  opacity: 0.4;
  display: block;
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
@media screen and (max-width: 769px) {
  /* line 328, ../sass/_master.sass */
  .overlayMenu .socialBar .socialEntry .socialEntryLink .socialDesktop {
    display: none;
  }
}
/* line 335, ../sass/_master.sass */
.overlayMenu .socialBar .socialEntry .socialEntryLink .socialMobile {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  vertical-align: bottom !important;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
@media screen and (max-width: 769px) {
  /* line 335, ../sass/_master.sass */
  .overlayMenu .socialBar .socialEntry .socialEntryLink .socialMobile {
    opacity: 1;
  }
}
/* line 348, ../sass/_master.sass */
.overlayMenu .socialBar .socialEntry .socialEntryLink:hover .socialDesktop {
  opacity: 0;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 352, ../sass/_master.sass */
.overlayMenu .socialBar .socialEntry .socialEntryLink:hover .socialMobile {
  opacity: 1;
}

/* line 355, ../sass/_master.sass */
body.openedMenu {
  overflow: hidden;
}
/* line 360, ../sass/_master.sass */
body.openedMenu .logoContainer .logo svg {
  fill: #fff;
}
/* line 363, ../sass/_master.sass */
body.openedMenu .languageBar {
  position: relative;
  z-index: 9;
}
/* line 367, ../sass/_master.sass */
body.openedMenu .languageBar .languageEntry {
  color: #fff;
}
/* line 370, ../sass/_master.sass */
body.openedMenu .overlayMenu {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s ease, visibility 0s ease;
  -moz-transition: opacity 0.4s ease, visibility 0s ease;
  transition: opacity 0.4s ease, visibility 0s ease;
}
/* line 379, ../sass/_master.sass */
body.openedMenu .overlayMenu .overlayMenuContainer .menuContent .menuEntry {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 382, ../sass/_master.sass */
body.openedMenu .overlayMenu .overlayMenuContainer .menuContent .menuEntry:nth-child(1) {
  -webkit-transition: -webkit-transform 0.4s ease 0.2s;
  -moz-transition: -moz-transform 0.4s ease 0.2s;
  transition: transform 0.4s ease 0.2s;
}
/* line 385, ../sass/_master.sass */
body.openedMenu .overlayMenu .overlayMenuContainer .menuContent .menuEntry:nth-child(2) {
  -webkit-transition: -webkit-transform 0.4s ease 0.3s;
  -moz-transition: -moz-transform 0.4s ease 0.3s;
  transition: transform 0.4s ease 0.3s;
}
/* line 388, ../sass/_master.sass */
body.openedMenu .overlayMenu .overlayMenuContainer .menuContent .menuEntry:nth-child(3) {
  -webkit-transition: -webkit-transform 0.4s ease 0.4s;
  -moz-transition: -moz-transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s;
}
/* line 391, ../sass/_master.sass */
body.openedMenu .overlayMenu .overlayMenuContainer .menuContent .menuEntry:nth-child(4) {
  -webkit-transition: -webkit-transform 0.4s ease 0.5s;
  -moz-transition: -moz-transform 0.4s ease 0.5s;
  transition: transform 0.4s ease 0.5s;
}
/* line 394, ../sass/_master.sass */
body.openedMenu .footer {
  opacity: 0;
}

/* line 397, ../sass/_master.sass */
.svgElement {
  border: 0 !important;
  fill: transparent;
  opacity: 1 !important;
  background-color: transparent;
  z-index: -1;
}

/* line 4, ../sass/contact.sass */
body {
  padding: 15px;
}
/* line 7, ../sass/contact.sass */
body #fullpage {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  background-image: url(../img/backgroundAbout.png);
  background-position: 100% 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}
@media screen and (max-width: 769px) {
  /* line 7, ../sass/contact.sass */
  body #fullpage {
    min-height: 800px;
  }
}
/* line 24, ../sass/contact.sass */
body #fullpage .section {
  margin: auto;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 28, ../sass/contact.sass */
body #fullpage .section .container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  max-width: 85em;
  margin-left: 2.813em;
  margin-bottom: -17vh;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
body #fullpage .section .container::after {
  clear: both;
  content: "";
  display: table;
}
/* line 33, ../sass/contact.sass */
body #fullpage .section .container .title {
  font-family: "effra", sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 48px;
  float: left;
  display: block;
  margin-right: 1.2295081967%;
  width: 92.2131147541%;
  margin-bottom: 10px;
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
body #fullpage .section .container .title:last-child {
  margin-right: 0;
}
/* line 38, ../sass/contact.sass */
body #fullpage .section .container .subtitle {
  font-family: "effra", sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.3;
  max-width: 20em;
  float: left;
  display: block;
  margin-right: 1.2295081967%;
  width: 92.2131147541%;
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
body #fullpage .section .container .subtitle:last-child {
  margin-right: 0;
}
/* line 42, ../sass/contact.sass */
body #fullpage .section .container .subtitle a {
  color: #383838;
}
/* line 44, ../sass/contact.sass */
body #fullpage .section .container .subtitle p {
  margin-bottom: 25px;
}
/* line 47, ../sass/contact.sass */
body #fullpage .section .container .formContainer {
  clear: both;
  margin-top: 40px;
  max-width: 600px;
}
/* line 52, ../sass/contact.sass */
body #fullpage .section .container .formContainer .formRow {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 58, ../sass/contact.sass */
body #fullpage .section .container .formContainer .formRow .formField .fieldName {
  font-family: "effra", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 17px;
  text-transform: uppercase;
  display: block;
}
/* line 63, ../sass/contact.sass */
body #fullpage .section .container .formContainer .formRow .formField .field {
  font-family: "effra", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid #383838;
  padding: 15px 0;
  width: 100%;
  color: #383838;
  resize: none;
}
/* line 72, ../sass/contact.sass */
body #fullpage .section .container .formContainer .formRow .formField.left {
  float: left;
  width: calc(50% - 25px);
}
/* line 75, ../sass/contact.sass */
body #fullpage .section .container .formContainer .formRow .formField.right {
  float: right;
  width: calc(50% - 25px);
}
/* line 79, ../sass/contact.sass */
body #fullpage .section .container .mainButton {
  margin-top: 30px;
  font-family: "effra", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 17px;
  line-height: 50px;
  height: 55px;
  border: 1px solid #000;
  background: transparent;
  text-transform: uppercase;
  width: 173px;
  clear: both;
  display: block;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -moz-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}
/* line 92, ../sass/contact.sass */
body #fullpage .section .container .mainButton:hover, body #fullpage .section .container .mainButton:active, body #fullpage .section .container .mainButton:focus {
  color: #fff;
  background-color: #F24E41;
  border-color: #F24E41;
}
/* line 97, ../sass/contact.sass */
body #fullpage .section .pageTitle {
  position: absolute;
  right: 45px;
  width: 400px;
  height: 45px;
  text-align: right;
  bottom: 512px;
  border-bottom: 1px solid #F24E41;
  font-family: "effra", sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 6px;
  color: #F24E41;
  text-transform: uppercase;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
