.container{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.homeContent{
    text-align: center;
    margin: auto;
}

.buttonRow{
    margin-top: 50px;
}

.homeButtonContainer{
    
}

.homeButton{
    font-family: "effra";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 52px;
    height: 55px;
    width: 100%;
    max-width: 200px;
    border: 2px solid #000;
    background: transparent;
    text-transform: uppercase;
    margin-top: 20px;
    -webkit-transition: color .5s ease, background-color .5s ease;
    transition: color .5s ease, background-color .5s ease;
}

.homeButton:hover, .homeButton:active, .homeButton:focus{
    color: #fff;
    background-color:#F24E41;
    border-color: #F24E41;
}

.homeButton:not(:first-child){
    margin-left: 20%;
}

.lowRow{
    margin-top: 145px;
    font-family: 'effra';
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    line-height: 76px;
}

.lowRow .first{
    text-align: right;
}

.lowRow .center{
    text-align: center;
}

.lowRow .second{
    text-align: left;
}

@media screen and (max-width: 600px){
    .container{
        padding: 0 !important;
    }
    
    .lowRow{
        display: none;
    }
}