/*----------- GENERAL STYLE -----------*/
a{
    color: #F24E41;
}


/*----------- BORDER FIXED SECTION -----------*/
.borderNorth{
	position:fixed;
	height:15px;
	top: 0;
	left: 0;
	right: 0;
	background-color: #F24E41;
	z-index: 12;
	-webkit-transition: background-color .5s ease;
	transition: background-color .5s ease;
}

.borderSouth{
	position:fixed;
	height: 15px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;
	background-color: #F24E41;
	-webkit-transition: background-color .5s ease;
	transition: background-color .5s ease;
}

.borderEast{
	position:fixed;
	width: 15px;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 12;
	background-color: #F24E41;
	-webkit-transition: background-color .5s ease;
	transition: background-color .5s ease;
}

.borderWest{
	position:fixed;
	width: 15px;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 12;
	background-color: #F24E41;
	-webkit-transition: background-color .5s ease;
	transition: background-color .5s ease;
}

/*----------- END BORDER FIXED SECTION -----------*/

body{
    /*  FIX PER NON SOVRAPPORSI AI BORDI  */
    padding: 15px;
}

/*----------- MENU ICON -----------*/

.menuRow{
    margin-top: 65px;
}

.logoContainer{
    text-align: right;
}

.logo{
    width: 60%;
    min-width: 40px;
}

.languageBar{
    text-align: center;
}

.languageBar a{
    font-size: 14px;
    letter-spacing: 2px;
}

.menu{
    
}

@media screen and (max-width: 992px) and (min-width: 700px){
    .menuContainer{
        text-align: center;
    }
    
    .languageBar{
        text-align: right;
    }
}

@media screen and (max-width: 700px){
    
}