@import meyer-reset
@import bourbon/bourbon
@import gridSetting
@import neat/neat
@import typo
@import utility

$fontKep: 'kepler std', serif
$fontEffra: 'effra', sans-serif
$generalOrange: #F24E41
$borderDimension: 15px
$borderDimensionMobile: 10px
$marginTopFromBorder: 50px
$marginTopFromBorderMobile: 25px
$mobileMaxWidth: 769px
$lateralMarginFromBorder: 45px

//General styles

/*----------- GENERAL STYLE -----------*/

html, body
	height: 100%

body
	font-family: $fontKep
	color: #383838
	padding: $borderDimension
	@media screen and (max-width: 769px)
		padding: $borderDimensionMobile
	//opacity: 1
	//@include transition(opacity .5s ease .2s)

	//.generalContainer
		opacity: 0
		@include transition(opacity .5s ease .8s)

	//&.loaded
		opacity: 1
		.generalContainer
			opacity: 1

	a
		color: $generalOrange
		text-decoration: none

.clearFix
	clear: both

.animsition-loading
	background-color: $generalOrange

.mobileBlocker
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: $generalOrange
	text-align: center
	z-index: 9999999999
	overflow: hidden
	@include align-items(stretch)
	@include display(flex)
	@include flex-direction(row)
	@include justify-content(flex-start)

	&.hidden
		display: none


	p
		color: #fff
		text-transform: uppercase
		+mobileWarningText
		@include flex(1)
		margin: auto
		display: inline

/*----------- BORDER FIXED SECTION -----------*/

.borderGeneric
	position: fixed
	background-color: $generalOrange
	z-index: 12
	@include transition(background-color .5s ease)

.borderGenericOrizzontal
	@extend .borderGeneric
	height: $borderDimension
	left: 0
	right: 0
	@media screen and (max-width: $mobileMaxWidth)
		height: $borderDimensionMobile

.borderGenericVertical
	@extend .borderGeneric
	width: $borderDimension
	top: 0
	bottom: 0
	@media screen and (max-width: $mobileMaxWidth)
		width: $borderDimensionMobile

.borderNorth
	@extend .borderGenericOrizzontal
	top: 0

.borderSouth
	@extend .borderGenericOrizzontal
	bottom: 0

.borderEast
	@extend .borderGenericVertical
	right: 0

.borderWest
	@extend .borderGenericVertical
	left: 0

/*----------- END BORDER FIXED SECTION -----------*/

/*----------- MENU ICON -----------*/

.menuRow
	margin-top: $marginTopFromBorder
	z-index: 999999
	position: relative
	border-color: transparent
	@include transition(background-color .4s ease, border-color .5s ease)
	@media screen and (max-width: $mobileMaxWidth)
		padding-top: $marginTopFromBorderMobile
		height: 99px
		margin-top: 0
		padding-top: 25px
		background-color: rgba(255,255,255,.8)
		@include transition(background-color .3s ease .2s)

	.menu
		cursor: pointer
		z-index: 9
		position: relative
		float: right
		margin-right: $lateralMarginFromBorder
		@media screen and (max-width: $mobileMaxWidth)
			margin-right: 20px

		.menuContent
			height: 26px
			width: 41px
			position: relative
			@include transform-origin(50%)
			@include transition(transform .2s ease)
			@media screen and (max-width: $mobileMaxWidth)
				height: 19px
				width: 28px

			.menuItem
				display: block
				border: 1px solid $generalOrange
				position: absolute
				width: 100%
				top: 0
				bottom: 0
				height: 3px
				margin: auto
				background: $generalOrange
				@include transition(background-color .5s ease, border-color .5s ease)

			&:after
				content: " "
				height: 3px
				position: absolute
				bottom: 0
				left: 0
				right: 0
				border: 1px solid $generalOrange
				background: $generalOrange
				@include transition(background-color .5s ease, border-color .5s ease, transform .2s ease)

			&:before
				content: " "
				height: 3px
				position: absolute
				top: 0
				left: 0
				right: 0
				border: 1px solid $generalOrange
				background: $generalOrange
				@include transition(background-color .5s ease, border-color .5s ease, transform .2s ease)

			&:hover:after
				@include transform(translateY(2px))

			&:hover:before
				@include transform(translateY(-2px))

		&.opened
			.menuContent
				@include transform(rotate(90deg))

				&:before, &:after, & .menuItem
					background-color: #fff
					border-color: #fff

	.logoContainer
		float: left
		margin: 0 0 0 $lateralMarginFromBorder
		@media screen and (max-width: $mobileMaxWidth)
			margin-left: 20px

		.logo
			width: 55px
			min-width: 40px
			z-index: 9
			position: relative
			display: inline-block
			@media screen and (max-width: $mobileMaxWidth)
				width: 40px

			svg
				fill: $generalOrange
				@include transition(fill .7s ease)

	.languageBar
		display: none
		float: right
		margin-right: 45px
		line-height: 26px
		width: 100px
		//max-width: 40px
		height: 30px
		overflow: hidden
		text-align: right
		//@include transition(max-width .2s ease)


		&:hover
			.languageEntry:not(.active)
				max-width: 40px
				opacity: 1

		.languageEntry
			text-transform: uppercase
			color: $generalOrange
			font-family: $fontEffra
			font-weight: bold
			font-size: 14px
			letter-spacing: 2px
			cursor: pointer
			display: inline-block
			overflow: hidden
			margin-left: 10px
			@include transition(color .5s ease)

			&:not(.active)
				max-width: 0
				opacity: 0
				@include transition(max-width .5s ease, opacity .5s ease)


	&.sticky
		position: fixed
		top: $borderDimension
		left: $borderDimension
		right: $borderDimension
		margin: 0
		height: 165px
		background-color: rgba(255,255,255,.8)
		border-bottom: 1px solid $generalOrange
		@media screen and (max-width: $mobileMaxWidth)
			top: $borderDimensionMobile
			left: $borderDimensionMobile
			right: $borderDimensionMobile
			height: 111px
			padding: 0 !important

		.logoContainer
			margin-top: 50px
			@media screen and (max-width: $mobileMaxWidth)
				margin-top: 25px

		.menuContainer
			.menu
				margin-top: 50px
				@media screen and (max-width: $mobileMaxWidth)
					margin-top: 25px

		.languageBar
			margin-top: 50px
			@media screen and (max-width: $mobileMaxWidth)
				margin-top: 25px

//---------- FOOTER --------------//
.footer
	position: absolute
	bottom: 60px
	left: 65px
	+footerFont
	@include transition(opacity .7s ease)
	@media screen and (max-width: $mobileMaxWidth)
		display: none

/*----------- MENU BODY -----------*/
.overlayMenu
	background-color: $generalOrange
	position: fixed
	height: 100%
	top: 0
	width: 100%
	opacity: 0
	visibility: hidden
	@include transition(opacity .5s ease, visibility 0s ease .5s)


	.overlayMenuContainer
		height: 100%
		@include align-items(stretch)
		@include display(flex)
		@include flex-direction(row)
		@include justify-content(flex-start)

		.menuContent
			width: 100%
			margin: auto
			@include flex(1)

			.menuEntry
				text-align: right
				text-transform: uppercase
				margin: 42px 0
				cursor: pointer
				overflow: hidden
				padding-right: 60px
				@include transform(translateX(400px))
				@include transition(transform .4s ease)
				@media screen and (max-width: $mobileMaxWidth)
					padding: 0
					margin: 50px 40px

				a
					color: #fff
					+menuFont
					opacity: .3
					overflow: hidden
					display: inline-block
					width: 100%
					max-width: 900px
					@include transition(opacity .4s ease)
					@media screen and (max-width: $mobileMaxWidth)
						+menuFontMobile
						opacity: 1

					&:after
						content: " "
						height: 1px
						width: 100%
						display: block
						background-color: #fff
						margin-top: 18px
						margin-left: 105%
						@include transition(margin-left .4s ease)
						@media screen and (max-width: 992px)
							display: none

					.description
						font-size: 20px
						float: left
						font-family: $fontKep
						text-transform: none
						font-weight: normal
						opacity: 0
						@include transform(translateY(10px))
						vertical-align: bottom
						margin-top: 10px
						letter-spacing: 0
						@include transition(transform .5s ease .3s, opacity .5s ease .3s)
						@media screen and (max-width: 992px)
							opacity: 1
							@include transform(translateY(0px))
							float: none
							margin-top: 30px
							position: absolute
							left: 0
							right: 0
							+mobileNormalFont

					&:hover
						opacity: 1

						&:after
							margin-left: 0

						.description
							opacity: 1
							@include transform(translateY(0))

	.socialBar
		position: absolute
		bottom: 96px
		left: 0
		right: 0
		text-align: center
		+row()
		@media screen and (max-width: 769px)
			bottom: 21px

		.socialEntry
			font-family: $fontEffra
			font-weight: bold
			font-size: 16px
			letter-spacing: 1px
			line-height: 19px
			text-transform: capitalize
			+span-columns(2)

			&:first-child
				+shift(1.5)
				@media screen and (max-width: 769px)
					+shift(1)

			.socialEntryLink
				color: #fff
				position: relative
				display: inline-block

				.socialDesktop
					opacity: .3
					display: block
					@include transition(opacity .4s ease, transform .4s ease)
					@media screen and (max-width: 769px)
						display: none

				.socialMobile
					bottom: 0
					position: absolute
					left: 0
					right: 0
					margin: auto
					opacity: 0
					vertical-align: bottom !important
					@include transition(opacity .4s ease)
					@media screen and (max-width: 769px)
						opacity: 1
						height: 19px

				&:hover
					.socialDesktop
						opacity: 0
						@include transform(scale(0, 0))

					.socialMobile
						opacity: 1

body.openedMenu
	overflow: hidden
	.menuRow
		@media screen and (max-width: $mobileMaxWidth)
			background: transparent
			@include transition(background-color .0s ease)

	.menuRow.sticky
		background-color: transparent

	.logoContainer
		.logo
			svg
				fill: #fff

	.languageBar
		position: relative
		z-index: 9

		.languageEntry
			color: #fff

	.overlayMenu
		left: 0
		opacity: 1
		visibility: visible
		@include transition(opacity .4s ease, visibility 0s ease)

		.overlayMenuContainer
			.menuContent

				.menuEntry
					@include transform(translateX(0))

					&:nth-child(1)
						@include transition(transform .4s ease .2s)

					&:nth-child(2)
						@include transition(transform .4s ease .3s)

					&:nth-child(3)
						@include transition(transform .4s ease .4s)

					&:nth-child(4)
						@include transition(transform .4s ease .5s)

	.footer
		opacity: 0

.svgElement
	border: 0 !important
	fill: transparent
	opacity: 1 !important
	background-color: transparent
	z-index: -1
