=titleBold
	font-family: $fontEffra
	font-weight: bold
	font-size: 40px
	letter-spacing: 1px
	line-height: 48px

=titleLight
	font-family: $fontEffra
	font-weight: 300
	font-size: 28px
	letter-spacing: 1px
	line-height: 1.3

=subtitleBold
	font-family: $fontEffra
	font-size: 14px
	font-weight: bold
	letter-spacing: 2px
	line-height: 17px

=menuFont
	font-family: $fontEffra
	font-weight: bold
	font-size: 32px
	letter-spacing: 6px

=mediumFont
	+menuFont
	line-height: 38px

=italicNormalFont
	font-family: $fontKep
	font-size: 16px
	font-style: italic
	line-height: 16px

=footerFont
	font-family: $fontEffra
	font-weight: bold
	font-size: 12px
	line-height: 14px
	text-transform: uppercase
	letter-spacing: 1px

=smallEffra
	font-family: $fontEffra
	font-weight: bold
	font-size: 16px
	line-height: 16px

=detailsTitle
	font-family: $fontEffra
	font-weight: bold
	font-size: 20px
	line-height: 24px
	letter-spacing: 4px

=aboutNumbers
	font-family: $fontKep
	font-size: 100px
	font-style: italic
	letter-spacing: 0

	//-----------------MOBILE FONT -------------------------------//

=titleBoldMobile
	font-size: 25px
	letter-spacing: 5px
	line-height: 30px

=titleLightMobile
	font-size: 20px
	line-height: 26px
	letter-spacing: 1px

=normalFontMobile
	font-size: 14px
	line-height: 14px
	letter-spacing: 0
	font-family: $fontKep

=normalFontMobileLine
	+normalFontMobile
	line-height: 16px

=italicNormalFontMobile
	+italicNormalFont
	font-size: 14px
	line-height: 14px

=aboutSubtitleBoldMobile
	font-family: $fontEffra
	line-height: 24px
	font-size: 20px
	letter-spacing: 6
	font-weight: bold

=mobileWarningText
	font-family: $fontEffra
	font-size: 20px
	font-weight: bold
	line-height: 24px
	letter-spacing: 5px

=menuFontMobile
	+menuFont
	font-size: 20px
	line-height: 24px
	letter-spacing: 5px

=mobileNormalFont
	font-family: $fontKep
	font-size: 14px
	line-height: 16px
	letter-spacing: 0

=mobileNormalFontBold
	+mobileNormalFont
	font-family: $fontEffra
	font-weight: bold

=subtitleBoldMobile
	font-family: $fontEffra
	font-weight: bold
	font-size: 12px
	letter-spacing: 2px
	line-height: 14px

=aboutNumbersMobile
	+aboutNumbers
	font-size: 80px
