@import meyer-reset
@import bourbon/bourbon
@import gridSetting
@import neat/neat
@import master

+keyframes(centerLineConstruction)
	0%
		bottom: 100%
	10%
		@include calc(bottom, "100% - 60px")
	20%
		@include calc(bottom, "100% - 60px")
	40%
		@include calc(bottom, "50% + 105px")
	65%
		@include calc(bottom, "50% + 105px")
	85%
		bottom: 80px
	95%
		bottom: 80px
	100%
		bottom: 0

+keyframes(centerLineConstructionThird)
	0%
		bottom: 100%
	10%
		@include calc(bottom, "100% - 60px")
	20%
		@include calc(bottom, "100% - 60px")
	40%
		@include calc(bottom, "50% + 105px")
	100%
		@include calc(bottom, "50% + 105px")

body
	padding: 15px

	#fullpage
		position: absolute !important
		top: 0
		left: $borderDimension
		right: $borderDimension

		.section
			&.first
				background-image: url(../img/backgroundAbout.png)
				background-position: 100% 100%
				background-size: 50%
				background-repeat: no-repeat
				.footer
					.goDown
						.text
							opacity: 1

			.container
				+outer-container()
				.title
					+titleBold
					text-transform: uppercase
					+span-columns(12)
					margin-bottom: 35px

				.subtitle
					+titleLight
					max-width: 424px
					+span-columns(12)


			.pageTitle
				position: absolute
				right: 45px
				width: 400px
				height: 45px
				text-align: right
				bottom: 512px
				border-bottom: 1px solid $generalOrange
				+menuFont
				color: $generalOrange
				text-transform: uppercase
				@include transform-origin(100% 100%)
				@include transform(rotate(-90deg))


			.footer
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 77px

				.goDown
					+subtitleBold
					color: $generalOrange
					text-transform: uppercase
					text-align: center

					.text
						cursor: pointer
						background-color: #fff
						padding: 10px 0
						opacity: 0
						@include transition(opacity .5s ease 8.5s)

					.lineDown
						display: inline-block
						border-left: 1px solid $generalOrange
						height: 50px
						margin-top: 10px

					.downloadButton
						color: #000
						border: 2px solid #000
						padding: 18px 30px
						opacity: 0
						position: relative
						bottom: 20px
						@include transition(opacity .5s ease 6.5s)

			.topPanel
				position: absolute
				top: 0
				left: 0
				right: 0
				height: 77px
				text-align: center

				.text
					+subtitleBold
					cursor: pointer
					background-color: #fff
					padding: 10px 0
					line-height: 144px
					color: $generalOrange
					text-transform: uppercase
					z-index: 9
					position: relative
					opacity: 0
					@include transition(opacity 1s ease 1s)

			.centerLine
				position: absolute
				border-left: 1px solid $generalOrange
				width: 0
				right: 0
				left: 0
				margin: auto
				top: 0
				bottom: 0
				bottom: 100%

			.centerBlock
				position: absolute
				border: 3px solid $generalOrange
				width: 265px
				height: 209px
				left: 0
				right: 0
				top: 0
				bottom: 0
				margin: auto
				background-color: #fff
				+titleBold
				text-transform: uppercase
				color: $generalOrange
				@include align-items(stretch)
				@include display(flex)
				@include flex-direction(row)
				@include justify-content(flex-start)
				text-align: center
				opacity: 0
				@include transition(opacity .5s ease)

				.text
					@include flex(1)
					margin: auto
					max-width: 75%

			.secondCenteredBlock
				position: absolute
				width: 265px
				height: 110px
				padding: 40px 10px 20px
				left: 0
				right: 0
				top: 0
				bottom: 0
				margin: auto
				@include calc(top, "50% - 220px")
				background-color: #fff
				+italicNormalFont
				color: $generalOrange
				@include align-items(stretch)
				@include display(flex)
				@include flex-direction(row)
				@include justify-content(flex-start)
				text-align: center
				opacity: 0
				@include transition(opacity .5s ease)

			.contentBlockContainer
				position: absolute
				top: 0
				bottom: 0
				margin: auto
				@include align-items(stretch)
				@include display(flex)
				@include flex-direction(column)
				@include justify-content(space-around)

				.contentBlock
					position: relative
					//@include flex(1)
					&:first-child
						margin-bottom: 17vh

					img
						opacity: .1
						position: absolute
						bottom: 0
						top: 0
						margin: auto
						&.visual
							opacity: 1

					.title
						+mediumFont
						text-transform: uppercase
						margin-bottom: 10px

					.content
						font-size: 16px
						max-width: 232px

				&.left
					left: 45px
					.contentBlock
						left: -300px
						position: relative
						&:first-child
							@include transition(left .3s ease 10s)
						&:last-child
							@include transition(left .3s ease 10.2s)

						img
							right: 0

				&.right
					right: 45px
					text-align: right

					.contentBlock
						left: 300px
						position: relative
						&:first-child
							@include transition(left .3s ease 10.4s)
						&:last-child
							@include transition(left .3s ease 10.6s)

						img
							left: 0

			&.second.loaded
				.contentBlock
					left: 0

				.centerLine
					@include animation(centerLineConstruction 10s ease)
					bottom: 0

				.topPanel
					.text
						opacity: 1
				.footer
					.goDown
						.text
							opacity: 1

			&.third.loaded
				.centerLine
					@include animation(centerLineConstructionThird 10s ease)
					bottom: 50%

				.topPanel
					.text
						opacity: 1

				.footer
					.goDown
						.downloadButton
							opacity: 1
	.breadCrumbs
		+subtitleBold
		text-transform: uppercase
		position: absolute
		right: 60px
		bottom: 60px

		span
			a
				cursor: pointer
				color: #000
				@include transition(color .3s ease)

			&:first-child
				margin-right: 26px
			&.active a
				color: $generalOrange
