@import master

+keyframes(centerLineConstruction)
	0%
		bottom: 100%
	10%
		@include calc(bottom, "100% - 60px")
	20%
		@include calc(bottom, "100% - 60px")
	40%
		@include calc(bottom, "50% + 100px")
	65%
		@include calc(bottom, "50% + 100px")
	85%
		bottom: 80px
	95%
		bottom: 80px
	100%
		bottom: 0

+keyframes(centerLineConstructionThird)
	0%
		bottom: 100%
	10%
		@include calc(bottom, "100% - 60px")
	20%
		@include calc(bottom, "100% - 60px")
	40%
		@include calc(bottom, "50% + 100px")
	100%
		@include calc(bottom, "50% + 100px")

body
	padding: $borderDimension
	@media screen and (max-width: $mobileMaxWidth)
		padding: $borderDimensionMobile

	#fullpage
		position: absolute !important
		top: 0
		left: $borderDimension
		right: $borderDimension

		.section
			.slimScrollBar,.slimScrollRail
				display: none !important

			&.first
				background-image: url(../img/about.png)
				background-position: calc(100% - 45px) 100%
				background-size: 44%
				background-repeat: no-repeat
				@media screen and (max-width: $mobileMaxWidth)
					background-image: none
				.footer
					.goDown
						.text
							opacity: 1
							background-color: transparent
				.container
					margin-bottom: -17vh
					@media screen and (max-width: $mobileMaxWidth)
						margin-bottom: 0px

			.container
				+outer-container()
				max-width: 85em
				margin-left: 2.813em
				@media screen and (max-width: $mobileMaxWidth)
					display: block
					margin-left: 0
					margin-top: 140px
					text-align: center
				.title
					+titleBold
					+span-columns(12)
					margin-bottom: 10px
					@media screen and (max-width: $mobileMaxWidth)
						+titleBoldMobile
						margin: 0 auto 10px
						float: none


				.subtitle
					+titleLight
					max-width: 20em
					+span-columns(12)
					@media screen and (max-width: $mobileMaxWidth)
						+titleLightMobile
						margin: 0 auto !important
						float: none

					p
						margin-bottom: 25px


			.mobileBackgroundContainer
				display: none
				@media screen and (max-width: $mobileMaxWidth)
					display: block
					height: 304px
					overflow: hidden
					margin-bottom: 30px
					img
						width: 100%

			.pageTitle
				position: absolute
				right: 45px
				width: 400px
				height: 45px
				text-align: right
				bottom: 512px
				border-bottom: 1px solid $generalOrange
				+menuFont
				color: $generalOrange
				text-transform: uppercase
				@include transform-origin(100% 100%)
				@include transform(rotate(-90deg))
				@media screen and (max-width: $mobileMaxWidth)
					display: none


			.footer
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 77px
				@media screen and (max-width: $mobileMaxWidth)
					display: block
					position: relative
					height: 52px

				.goDown
					+subtitleBold
					color: $generalOrange
					text-transform: uppercase
					text-align: center
					@media screen and (max-width: $mobileMaxWidth)
						+subtitleBoldMobile

					.text
						cursor: pointer
						background-color: #fff
						padding: 10px 0
						opacity: 0
						@include transition(opacity .3s ease 2.0s)

					.lineDown
						display: inline-block
						border-left: 1px solid $generalOrange
						height: 50px
						margin-top: 10px
						@media screen and (max-width: $mobileMaxWidth)
							height: 28px

					.downloadButton
						color: #000
						border: 1px solid #000
						padding: 18px 30px
						opacity: 0
						position: relative
						bottom: 20px
						@include transition(opacity .5s ease 2s, color .5s ease, background-color .5s ease)
						&:hover
							color: #fff
							background-color: $generalOrange
							border-color: $generalOrange
						@media screen and (max-width: $mobileMaxWidth)
							width: calc(100% - 30px)
							display: block
							margin: auto
				.mobileBottomLine
					display: none
					@media screen and (max-width: $mobileMaxWidth)
						display: block
						border-left: 1px solid $generalOrange
						height: 28px
						margin: auto
						width: 0

			.topPanel
				position: absolute
				top: 0
				left: 0
				right: 0
				height: 77px
				text-align: center
				@media screen and (max-width: $mobileMaxWidth)
					margin-top: 124px
					height: auto
					position: static



				.text
					+subtitleBold
					cursor: pointer
					background-color: #fff
					padding: 10px 0
					line-height: 144px
					color: $generalOrange
					text-transform: uppercase
					z-index: 9
					position: relative
					opacity: 0
					@include transition(opacity .3s ease 0.3s)
					@media screen and (max-width: $mobileMaxWidth)
						+subtitleBoldMobile
						opacity: 1

			.centerLine
				position: absolute
				border-left: 1px solid $generalOrange
				width: 0
				right: 0
				left: 0
				margin: auto
				top: 0
				bottom: 0
				bottom: 100%
				@media screen and (max-width: $mobileMaxWidth)
					height: 115px
					position: static

			.centerBlocksContainer
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				margin: auto
				height: 321px
				width: 300px
				background-color: #fff
				@media screen and (max-width: $mobileMaxWidth)
					position: relative
					margin-top: 0px
					margin-bottom: 35px
					height: auto

				.centerBlock
					border: 3px solid $generalOrange
					width: 200px
					height: 200px
					margin: auto
					+menuFont
					line-height: 38px
					text-transform: uppercase
					color: $generalOrange
					@include align-items(stretch)
					@include display(flex)
					@include flex-direction(row)
					@include justify-content(flex-start)
					text-align: center
					opacity: 0
					@include transition(opacity .5s ease)
					@media screen and (max-width: $mobileMaxWidth)
						opacity: 1
						width: 150px
						height: 150px
						+aboutSubtitleBoldMobile

					.text
						@include flex(1)
						margin: auto
						max-width: 70%

				.secondCenteredBlock
					width: 300px
					height: 121px
					padding: 20px 10px
					margin: auto
					line-height: 18px
					@include calc(top, "50% - 220px")
					color: $generalOrange
					@include align-items(stretch)
					@include display(flex)
					@include flex-direction(column)
					@include justify-content(flex-start)
					text-align: center
					opacity: 0
					@include transition(opacity .5s ease)
					@media screen and (max-width: $mobileMaxWidth)
						opacity: 1
						+normalFontMobile
						max-width: 270px
						padding: 15px 0 0px
						height: auto

					i
						+italicNormalFont
						@media screen and (max-width: $mobileMaxWidth)
							+italicNormalFontMobile

			.contentBlockContainer
				position: absolute
				top: 0
				bottom: 0
				margin: auto
				@include align-items(stretch)
				@include display(flex)
				@include flex-direction(column)
				@include justify-content(space-around)
				@media screen and (max-width: $mobileMaxWidth)
					position: static


				.contentBlock
					position: relative
					//@include flex(1)
					@media screen and (max-width: $mobileMaxWidth)
						text-align: center
						margin-bottom: 50px !important
					&:first-child
						margin-bottom: 116px

					img
						opacity: .3
						position: absolute
						top: -50%
						width: 120px
						margin: auto
						z-index: -1
						@media screen and (max-width: $mobileMaxWidth)
							position: static
							opacity: 1
							width: 79px
							margin: auto
						&.secondRow
							top: 0

					.number
						color: #F24E41
						opacity: .3
						text-align: right
						width: 100%
						display: inline-block
						position: absolute
						top: -40px
						z-index: -1
						+aboutNumbers
						@media screen and (max-width: $mobileMaxWidth)
							position: static
							text-align: center
							opacity: 1
							+aboutNumbersMobile


					.title
						+mediumFont
						text-transform: uppercase
						margin-bottom: 10px
						@media screen and (max-width: $mobileMaxWidth)
							margin-top: 15px
							+menuFontMobile

					.content
						font-size: 16px
						max-width: 330px
						line-height: 18px
						@media screen and (max-width: $mobileMaxWidth)
							+normalFontMobileLine
							margin: 0 15px
						.contentTitle
							+smallEffra
							color: $generalOrange
							margin-top: 16px
							@media screen and (max-width: $mobileMaxWidth)
								+mobileNormalFontBold
								text-align: left

				&.left
					left: 45px
					@media screen and (min-width: $mobileMaxWidth)
						.contentBlock
							left: -430px
							position: relative
							opacity: 0
							&:first-child
								@include transition(left .5s ease 2.5s, opacity .5s ease 2.7s)
							&:last-child
								@include transition(left .5s ease 2.7s, opacity .5s ease 2.9s)

							img
								right: 25%

				&.right
					right: 45px
					text-align: right
					@media screen and (min-width: $mobileMaxWidth)

						.contentBlock
							left: 430px
							position: relative
							opacity: 0
							&:first-child
								@include transition(left .5s ease 2.9s, opacity .53s ease 3.1s)
							&:last-child
								@include transition(left .5s ease 3.1s, opacity .53s ease 3.3s)

							.number
								text-align: left
								left: -30px
							img
								left: 30%
								&.visual
									left: 30%

			&.second.loaded
				.contentBlock
					left: 0
					opacity: 1

				.centerLine
					bottom: 50%
					@media screen and (min-width: $mobileMaxWidth)
						//@include animation(centerLineConstruction 2.5s ease)
						bottom: 0

				.topPanel
					.text
						opacity: 1
				.footer
					.goDown
						.text
							opacity: 1

			&.third.loaded
				.contentBlock
					left: 0
					opacity: 1

				.centerLine
					bottom: 50%
					@media screen and (min-width: $mobileMaxWidth)
						@include animation(centerLineConstruction 2.5s ease)
						bottom: 0

				.topPanel
					.text
						opacity: 1
				.footer
					.goDown
						.text
							opacity: 1

			&.fourth.loaded
				.contentBlockContainer
					&.left
						.contentBlock
							left: 0
							opacity: 1
							&:first-child
								@include transition(left .5s ease 2.5s, opacity .5s 2.7)
							&:last-child
								@include transition(left .5s ease 2.7s, opacity .5s 2.9)
					&.right
						.contentBlock
							left: 0
							opacity: 1
							margin-bottom: 0
							&:last-child
								@include transition(left .5s ease 2.9s, opacity .5s 3.1)
					.content
						text-align: left

				.centerLine
					@include animation(centerLineConstructionThird 2.5s ease)
					bottom: 50%

				.topPanel
					.text
						opacity: 1

				.footer
					.goDown
						@media screen and (max-width: $mobileMaxWidth)
							margin-top: 50px
						.downloadButton
							opacity: 1
	.breadCrumbs
		+subtitleBold
		text-transform: uppercase
		position: absolute
		right: 60px
		bottom: 60px
		@media screen and (max-width: $mobileMaxWidth)
			display: none

		span
			margin-right: 26px
			a
				cursor: pointer
				color: #000
				@include transition(color .3s ease)
				&:hover
					color: $generalOrange

			&:last-child
				margin-right: 0px
			&.active a
				color: $generalOrange
