@import master


body
	.menuRow
		@media screen and (max-width: $tabletMaxWidth)
			position: absolute
			left: 10px
			right: 10px

	.generalContainer
		padding: 0 120px
		@media screen and (max-width: $tabletMaxWidth)
			padding: 0
		@media screen and (max-width: $mobileMaxWidth)
			padding: 100px 0

	#fullpage
		max-width: 1200px
		margin: auto
		text-align: center

		.royalSlider
			width: 100%
			height: auto
			margin-top: 190px
			background-color: #fff
			text-align: center
			@media screen and (max-width: $mobileMaxWidth)
				margin-top: 30px

			img.rsImg
				margin: auto !important
				height: auto
				max-width: 100%
				float: none
				&.mobileSlideImage
					display: none
				@media screen and (max-width: $tabletMaxWidth)
					max-width: calc(100% - 40px)
				@media screen and (max-width: $mobileMaxWidth)
					max-width: calc(100% - 20px)
					display: none
					&.mobileSlideImage
						display: block

			.rsNav.rsBullets
				float: right
				margin-right: 20px
				.rsNavItem.rsBullet
					width: 10px
					height: 10px
					cursor: pointer
					border: 1px solid $generalOrange
					background-color: transparent
					border-radius: 10px
					margin-top: 15px

					&:first-child
						margin-top: -80px

					&.rsNavSelected
						background-color: $generalOrange

		.category
			+subtitleBold
			text-transform: uppercase
			position: absolute
			height: 50px
			width: 180px
			line-height: 50px
			background-color: #383838
			color: #fff
			margin-top: -40px
			margin-left: -10px
			@media screen and (max-width: $tabletMaxWidth)
				margin: -40px auto 0
				left: 0
				right: 0
				+subtitleBoldMobile
				line-height: 50px

		.title
			+titleBold
			margin-top: 50px
			display: none
			@media screen and (max-width: $mobileMaxWidth)
				+titleBoldMobile
				display: block


		.subtitle
			//max-width: 600px
			margin: 90px auto
			+titleLight
			@media screen and (max-width: $tabletMaxWidth)
				width: calc(100% - 40px)
				margin: 50px auto
				+subtitleLightTablet
			@media screen and (max-width: $mobileMaxWidth)
				max-width: calc(100% - 20px)
				+subtitleLightMobile

		.detailsRow
			margin-top: 50px
			@media screen and (max-width: $tabletMaxWidth)
				display: inline-block
				margin: auto
				width: calc(100% - 40px)
			.detailsItem
				width: 29.8%
				margin: 0 2.4%
				height: 200px
				float: left
				@media screen and (max-width: $mobileMaxWidth)
					float: none !important
					width: calc(100%)
					height: auto
					margin: 0 auto 25px !important

				&:first-child
					margin-left: 0

				&:last-child
					margin-right: 0

				.detailTitle
					+detailsTitle
					text-transform: uppercase
					color: $generalOrange
					text-align: left
					padding-bottom: 15px
					border-bottom: 1px solid $generalOrange

				.detailContent
					text-align: left
					margin-top: 30px
					line-height: 18px
					@media screen and (max-width: $mobileMaxWidth)
						margin-top: 15px
						+mobileNormalFont

		.imageContainer
			margin-top: 60px

			img.fullWidth
				display: block
				width: 100%
				margin: 15px auto
				height: auto
				&.mobileImage
					display: none
				@media screen and (max-width: $tabletMaxWidth)
					width: calc(100% - 40px)
				@media screen and (max-width: $mobileMaxWidth)
					display: none
					&.mobileImage
						display: block



			img.middleWidth
				width: calc(50% - 8px)
				display: inline-block
				@media screen and (max-width: $tabletMaxWidth)
					width: calc(50% - 28px)
				@media screen and (max-width: $mobileMaxWidth)
					display: none
				&.left
					float: left
					@media screen and (max-width: $tabletMaxWidth)
						margin-left: 20px
				&.right
					float: right
					@media screen and (max-width: $tabletMaxWidth)
						margin-right: 20px


		.behanceContainer
			+titleLight
			margin: 60px auto
			text-align: center
			@media screen and (max-width: $tabletMaxWidth)
				+subtitleLightTablet
			@media screen and (max-width: $mobileMaxWidth)
				display: none


		.prevNextContainer
			margin-top: 30px
			display: inline-block
			@media screen and (max-width: $tabletMaxWidth)
				width: calc(100% - 40px)
				margin-left: auto
				margin-right: auto
				margin-bottom: 80px

			.previous, .next, .center
				width: calc(33% - 15px)
				@media screen and (max-width: $mobileMaxWidth)
					width: calc(50% - 10px)

				img
					width: 100%
					@media screen and (max-width: $mobileMaxWidth)
						display: none

				.prevNextText
					+subtitleBold
					text-transform: uppercase
					position: relative
					height: 50px
					width: 180px
					line-height: 50px
					background-color: #383838
					color: #fff
					margin-top: -40px
					@media screen and (max-width: $mobileMaxWidth)
						height: 120px
						width: 100%
						margin-top: 0
						+subtitleBoldMobile
						line-height: 120px

			.previous
				float: left
				.prevNextText
					margin-left: -10px
					@media screen and (max-width: $mobileMaxWidth)
						margin-left: 0

			.center
				text-align: center
				display: inline-block
				margin-top: 100px
				@media screen and (max-width: $tabletMaxWidth)
					margin-top: 0
				@media screen and (max-width: $mobileMaxWidth)
					position: absolute
					left: 10px
					right: 10px
					margin-top: 130px
					margin-left: auto
					margin-right: auto
					width: auto


				.bottomRowText
					+titleLight
					max-width: 600px
					margin: auto
					@media screen and (max-width: $tabletMaxWidth)
						+subtitleLightTablet
					@media screen and (max-width: $mobileMaxWidth)
						display: none


				.bottomRowButton
					margin: 35px auto 0px
					+subtitleBold
					height: 55px
					width: 173px
					line-height: 55px
					border: 1px solid #383838
					display: block
					color: #383838
					@include transition(color .4s ease, background-color .4s ease)
					@media screen and (max-width: $mobileMaxWidth)
						width: calc(100% - 40px)


					&:hover
						color: #fff
						background-color: $generalOrange
						border-color: $generalOrange
			.next
				float: right
				.prevNextText
					float: right
					margin-right: -10px
					@media screen and (max-width: $mobileMaxWidth)
						margin-right: 0

	.footer
		position: static
		clear: both
		margin: 60px
		@media screen and (max-width: $tabletMaxWidth)
			display: none
