@import master
html, body
	height: 100%

.generalContainer
	background-position: 100% 100%
	background-size: 40%
	background-repeat: no-repeat
	height: calc(100% - 50px)

.container
	position: absolute
	right: 15px
	left: 15px
	top: 0
	bottom: 0
	+outer-container()
	@include align-items(stretch)
	@include display(flex)
	@include flex-direction(row)
	@include justify-content(flex-start)

	.homeContent
		text-align: center
		margin: auto
		@include flex(1)

		.mainTitle
			+titleBold
			margin-top: 58px
			margin-bottom: 25px
			@media screen and (max-width: $mobileMaxWidth)
				+titleBoldMobile
				margin-top: 24.5vh
				margin-bottom: 10px

		.subtitle
			+titleLight
			margin: 0 auto
			@media screen and (max-width: $mobileMaxWidth)
				+titleLightMobile
				max-width: 350px
				&.firstSub
					max-width: 250px

			.flipCont
				position: relative
				display: inline-block
				text-align: left
				vertical-align: top
				font-style: italic
				max-width: 165px
				min-width: 165px
				@include transition(min-width .4s ease, max-width .4s ease)

				span.foo
					opacity: 0
					position: absolute
					top: -10px
					left: 0
					display: inline-block
					white-space: nowrap

		.buttonRow
			margin-top: 40px
			+row()
			@media screen and (max-width: $mobileMaxWidth)
				margin-top: 26px

			.homeButton
				+subtitleBold
				line-height: 55px
				height: 55px
				border: 1px solid #000
				background: transparent
				text-transform: uppercase
				cursor: pointer
				color: #383838
				@include transition(color .5s ease, background-color .5s ease)
				+span-columns(2, block)

				&:first-child
					+shift(4)
					@include media($tablet)
						display: block
						float: none
						margin: auto
						clear: both
						width: 270px !important

				&:last-child
					+span-columns(2, block-collapse)
					+shift(1)
					@include media($tablet)
						display: block
						float: none
						margin: auto
						clear: both
						width: 270px !important
						margin-top: 10px

				&:hover, &:active, &:focus
					color: #fff
					background-color: $generalOrange
					border-color: $generalOrange

		.first
			text-align: right
			display: inline-block
			+span-columns(6)

		.center
			text-align: center
			display: inline-block
			height: 74px
			vertical-align: middle
			+span-columns(1)
			@media screen and (max-width: 769px)
				margin: 0 25px

		.second
			text-align: left
			display: inline-block
			+span-columns(6)
			@media screen and (max-width: 769px)
				display: none
