body{
    background-color: #F24E41;
    font-family: 'effra';
    color: #fff;
    margin: 0;
    padding: 0;
}

.logoContainer{
    text-align: center;
}

.logoContainer img{
    width: 55px;
    margin-top: 65px;
}

.centralContainer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 162px;
}

.centralContainer p{
    font-family: 'effra light';
    font-size: 22px;
    line-height: 1.36;
}

.centralContainer #countdown{
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 10px;
}


.footer{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 65px;
    font-family: 'effra light';
    font-size: 22px;
    line-height: 1.36;
}

.footer a{
    color: #fff;
    text-decoration: none;
    font-family: 'effra';
    font-weight: bold;
}

@media screen and (max-width: 769px){
     .logoContainer img{
        margin-top: 40px;
    }
    
    .centralContainer p{
        font-size: 16px;
        line-height: 1.5;
    }
    
    .centralContainer #countdown{
        font-size: 36px;
    }
    
    .footer{
        font-size: 16px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 769px) and (orientation: landscape){
    .logoContainer img{
        margin-top: 20px;
    }
    
    .footer{
        bottom: 20px;
    }
    
    .centralContainer{
        height: 130px;
    }
}

/*
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and (orientation: portrait),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and (orientation: portrait),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and (orientation: portrait),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and (orientation: portrait),
only screen and (                min-resolution: 192dpi) and (min-width: 320px) and (orientation: portrait),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and (orientation: portrait){ 
    .logoContainer img{
        width: 110px;
        margin-top: 65px;
    }
    
    .centralContainer{
        height: 314px;
    }
    
    .centralContainer p{
        font-size: 44px;
    }
    
    .centralContainer #countdown{
        font-size: 80px;
    }
    
    .footer{
        font-size: 44pX;
    }
}
*/

